* {
  font-family: "Times New Roman";
}

code {
  padding: 0;
  font-size: 90%;
  color: black;
  background-color: white;
  border: 0px solid white;
}

a code {
  color: #08c;
}

blockquote{
  padding: 0px 0px 0px 10px;
  position: relative;

  /*Font*/
  font-family: "Times New Roman";
  
  /*Borders - (Optional)*/
  border-left: 8px solid #FF5733;
  border-right: 0px solid #FF5733;
  
}

blockquote em{
  font-style: italic;
}