.body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

code {
  padding: 0;
  font-size: 90%;
  color: black;
  background-color: white;
  border: 0px solid white;
}

a code {
  color: #08c;
}

blockquote{
  padding: 0px 0px 0px 10px;
  position: relative;
  
  /*Borders - (Optional)*/
  border-left: 8px solid #ff8300;
  border-right: 0px solid #ff8300;
  
}

blockquote em{
  font-style: normal;
}